loadfont unicode

set color_normal=white/black
set color_highlight=black/light-gray

menuentry "Start Ribbon OS 1.0.0 \"Blossom\"" --class linuxmint {
	set gfxpayload=keep
	linux	/casper/vmlinuz  boot=casper uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=ribbon hostname=ribbon iso-scan/filename=${iso_path} quiet splash --
	initrd	/casper/initrd.gz
}

menuentry "Start Ribbon OS (Compatibility Mode)" {
	linux	/casper/vmlinuz  boot=casper uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=ribbon hostname=ribbon iso-scan/filename=${iso_path} noapic noacpi nosplash irqpoll nomodeset --
	initrd	/casper/initrd.gz
}

menuentry "OEM Install (for manufacturers)" {
	set gfxpayload=keep
	linux	/casper/vmlinuz  oem-config/enable=true only-ubiquity boot=casper uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=ribbon hostname=ribbon iso-scan/filename=${iso_path} quiet splash --
	initrd	/casper/initrd.gz
}

if [ "$grub_platform" = "efi" ]; then
menuentry "Boot from next volume" {
	exit 1
}
menuentry "UEFI Firmware Settings" {
	fwsetup
}
menuentry "Memory test" {
	linux	/boot/memtest.efi
}
fi
