timeout 100

menu background splash.png
menu title Welcome to Ribbon OS 1.0.0 "Blossom"

menu color screen	37;40      #80ffffff #00000000 std
MENU COLOR border       30;44   #40ffffff #a0000000 std
MENU COLOR title        1;36;44 #ffffffff #a0000000 std
MENU COLOR sel          7;37;40 #e0ffffff #20ffffff all
MENU COLOR unsel        37;44   #50ffffff #a0000000 std
MENU COLOR help         37;40   #c0ffffff #a0000000 std
MENU COLOR timeout_msg  37;40   #80ffffff #00000000 std
MENU COLOR timeout      1;37;40 #c0ffffff #00000000 std
MENU COLOR msg07        37;40   #90ffffff #a0000000 std
MENU COLOR tabmsg       31;40   #ffDEDEDE #00000000 std

MENU WIDTH 78
MENU MARGIN 15
MENU ROWS 6
MENU VSHIFT 10
MENU TABMSGROW 12
MENU CMDLINEROW 12
MENU HELPMSGROW 16
MENU HELPMSGENDROW 29

label live
	menu label Start Ribbon OS
	menu default
	kernel /casper/vmlinuz
	append boot=casper initrd=/casper/initrd.gz uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=ribbon hostname=ribbon quiet splash --

label compat
	menu label Start Ribbon OS (Compatibility Mode)
	linux /casper/vmlinuz
	append boot=casper initrd=/casper/initrd.gz uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=ribbon hostname=ribbon noapic noacpi nosplash irqpoll nomodeset --

label oem
	menu label OEM Install (for manufacturers)
	linux /casper/vmlinuz
	append oem-config/enable=true only-ubiquity boot=casper initrd=/casper/initrd.gz uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=ribbon hostname=ribbon quiet splash --

label hdt
	menu label Hardware Detection
	kernel hdt.c32

label local
	menu label Boot from local drive
	COM32 chain.c32
	APPEND hd0

label memtest
	menu label Memory test
	linux /boot/memtest.bin
	